*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* INIZIO HEADER */
.conteiner-header{
    background-color: lightblue;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.row-header{
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: goldenrod;
}


.content-20 {
    border: 1px dashed black;
    width: 20%;
    height: 100%;
    padding: 5px;
}
.content-60{
    border: 1px dashed black;
    width: 60%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

#login{
    display: flex;
    justify-content: flex-end;
}

/* FINE HEADER */

/* INIZIO MAIN */
/* FIRST SECTION BLU container rosa */
.background{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-self: center;
}

.blu{
    background-color: blue;
    padding-top: 70px;
}

.conteiner-pink{
    width: 50%;
    height: 350px;
    background-color: rgba(255, 192, 229, 0.84);
    border: 1px dashed black;
    margin: 0 auto;
}
/* FINE FIRST SECTION BLU container rosa */

/* second SECTION BLU  */
.conteiner-bicolor{
    height: 500px;
    padding-top: 70px;
    display: flex;
}

.row-due{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.col-due {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    border: 1px dashed black;
}
.left{
    width: 65%;
    background-color: rgba(8, 57, 148, 0.735);
}

.right{
    width: 35%;
    background-color: rgb(223, 96, 218);
}
/* FINE second SECTION BLU  */
.grey{
    background-color: gray;
}

/* SECTION conteiner  green  */
.background-due{
    width: 100%;
    height: 1000px;
    background-color: grey;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding-top: 70px;
}

.conteiner-green{
    width: 75%;
    margin: 0 auto;
}

.col-green{
    height: 830px;
    background-color: green;
    border: 1px dashed black;
}
/* FINE container green  */
/* FINE MAIN */

/* INIZIO FOOTER */
.black{
    background-color: black;
    padding-top: 10px;
    border-bottom: 2px solid darkgray;
}
.footer-left{
    width: 40%;
    background-color: rgba(148, 8, 143, 0.735);
}

.footer-right{
    width: calc(60% / 4);
    background-color: rgba(8, 148, 108, 0.735);
    border: 1px dashed white;
}

.conteiner-footer{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 20px;
}

.row-footer{
    width: 70%;
    margin: 0 auto ;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: aquamarine;
}
.col-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
    border: 1px dashed black;
}

.content-footer{
    background-color: goldenrod;
    border: 1px dashed black;
    height: 25px;
    padding: 0 5px;
}


/* FINE FOOTER */
